@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bold";
  src: url("./assets/fonts/OldschoolGrotesk-NormalBold.otf");
}
@font-face {
  font-family: "extra";
  src: url("./assets/fonts/OldschoolGrotesk-NormalExtraBold.otf");
}
@font-face {
  font-family: "reg";
  src: url("./assets/fonts/OldschoolGrotesk-NormalRegular.otf");
}
@font-face {
  font-family: "lig";
  src: url("./assets/fonts/OldschoolGrotesk-NormalLight.otf");
}

html {
  scroll-behavior: smooth;
}

.padd {
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 767px) {
  .padd {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 579px) {
  .padd {
    padding-left: 3%;
    padding-right: 3%;
  }
}
.paddr {
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 767px) {
  .paddr {
    padding-left: 6%;
  }
}

@media (max-width: 579px) {
  .paddr {
    padding-left: 3%;
  }
}
